<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/HomePageResponsive.css">
    <title>DPRSSD OTAKU - Homepage</title>



    <section class="homepage">

        <%- include("./partials/userFlashes") %>
            <section class="firsthp seczion">
                <div class="design-div">
                    <img class="mobile-design-img" src="/images/HomePage/HomepageDesignPart(Mobile).jpeg" alt="">
                    <img class="tablet-design-img" src="/images/HomePage/HomepageDesignPart1(Tablet).jpeg" alt="">
                    <img class="desktop-design-img" src="/images/HomePage/HomepageDesignPart1(Desktop).jpg" alt="">
                    <div class="skull-div">
                        <img class="skull-img" src="/images/HomePage/skull.png" alt="">
                    </div>
                    <div class="heart-div">
                        <img class="heart-img" src="/images/HomePage/Heart.png" alt="">
                    </div>
                    <div class="thumbdown-div">
                        <img class="thumbdown-img" src="/images/HomePage/ThumbDown.png" alt="">
                    </div>
                    <div class="bomb-div">
                        <img class="bomb-img" src="/images/HomePage/bombflipped.png" alt="">
                    </div>
                    <div class="thumbup-div">
                        <img class="thumbup-img" src="/images/HomePage/ThumbUp.png" alt="">
                    </div>
                    <div class="diamond-div">
                        <img class="diamond-img" src="/images/HomePage/diamondflipped.png" alt="">
                    </div>
                    <div class="sushi-div">
                        <img class="sushi-img" src="/images/HomePage/sushi.png" alt="">
                    </div>
                    <div class="gambero-div">
                        <img class="gambero-img" src="/images/HomePage/gambero.png" alt="">
                    </div>
                </div>
                <div class="text-block">

                    <div class="orange-title">DPRSSD OTAKU.</div>
                    <div class="grey-title">
                        <div class="black-h1">Read.</div>
                        <div class="orange-h1">Review.</div>
                        <div class="black-h1">Repeat.</div>
                    </div>


                    <div class="parags-div">
                        <p class="central-parag">Browse between hundreds of <b>Manga reviews</b> to find your
                            new
                            Favourite Manga!
                        </p>
                        <p class="central-parag">Explore and Have fun with our <b>Surveys</b> on <b>Mangas</b>,
                            <B>Panels</B>
                            and <b>Manga Tattoo
                                Artists</b>.
                        </p>
                        <p class="central-parag">What are you waiting for? Join the <b>DPRSSD Otaku Community!</b></p>
                    </div>
                    <div class="signup-btn-div">
                        <a href="/register" class="signup-btn">Sign Up</a>
                    </div>

                </div>

            </section>


            <%if(!tattooer){%>
                <h1>UPLOAD A TATTOOER</h1>
                <%} else {%>
                    <section class="fourthhp seczion">
                        <div class="tattooer-div">

                            <div class="tattooer-img-div">
                                <img class="mobile-tattooer-img" src="<%=tattooer.profileImg.mobileImg.url%>" alt="">

                                <div class="tattooer-infos-div">
                                    <h3 class="tattooer-name">
                                        <%=tattooer.name%>
                                    </h3>
                                    <h3 class="tattooer-studio">
                                        <%=tattooer.studio%>
                                    </h3>
                                    <h3 class="tattooer-location">
                                        <%=tattooer.location%>
                                    </h3>
                                    <h3 class="tattooer-fav"><i class="fa-solid fa-heart"></i>
                                        "<%=tattooer.favs.favManga.mangaTitle%>"<i class="fa-solid fa-heart"></i>
                                    </h3>
                                </div>


                            </div>


                            <div class="left-part">

                                <div class="bilboard-div">
                                    <h1 class="tattoer-title">Manga Tattoo Artist of the Month</h1>
                                    <span class="white-line"></span>
                                    <p class="tattooer-intro">Every Month we'll present you a Tattoo Artist from around
                                        the
                                        World
                                        and
                                        some
                                        of his best Manga/Anime related Works. Read our interview with Bubisan_ink and
                                        vote for
                                        the
                                        Manga tattoo you love the most! Below you'll find a sneak peak at some of her
                                        works:
                                    </p>
                                </div>
                                <div class="social-descrip-div">
                                    <p class="tattooer-description">Bubi-san is a skilled young artist from Italy. She
                                        masters
                                        both
                                        good, strong contrasts between black and white, and light and delicate grey
                                        shadowing to
                                        give
                                        her artworks a true Artistic signature.

                                    </p>
                                    <div class="tattoo-socials short-socials">
                                        <a class="tiktok-link" href="<%=tattooer.socials.tiktok%>"><i
                                                class="fa-brands fa-tiktok"></i></a>
                                        <a class="insta-link" href="<%=tattooer.socials.insta%>"> <i
                                                class="fa-brands fa-instagram"></i></a>
                                        <a class="fb-link" href="<%=tattooer.socials.fb%>"><i
                                                class="fa-brands fa-facebook-f"></i></a>
                                    </div>

                                    <div class="btns-box">
                                        <a class="read-interv" href="/tattooerslist/<%=tattooer._id%>">Read
                                            Interview</a>
                                        <a class="read-interv" href="/tattooerslist">Tattooers List</a>
                                    </div>

                                    <!-- <a class="interview-btn" href="">Read Interview</a> -->
                                </div>
                            </div>




                            <div class="gallery-div">
                                <h2 class="gallery-title">Bubisan-ink's Sneak Peak</h2>
                                <div class="slider-container">
                                    <%if(tattooer.tattoos.length>=4){%>
                                        <div class="img-slider">
                                            <div class="slide active">
                                                <img src="<%=tattooer.tattoos[0].imgSrc.url%>" alt="">
                                            </div>
                                            <div class="slide">
                                                <img src="<%=tattooer.tattoos[1].imgSrc.url%>" alt="">
                                            </div>
                                            <div class="slide">
                                                <img src="<%=tattooer.tattoos[2].imgSrc.url%>" alt="">

                                            </div>
                                            <div class="slide">
                                                <img src="<%=tattooer.tattoos[3].imgSrc.url%>" alt="">

                                            </div>
                                            <div class="navigation">
                                                <div class="gallery-btn active"></div>
                                                <div class="gallery-btn"></div>
                                                <div class="gallery-btn"></div>
                                                <div class="gallery-btn"></div>
                                            </div>

                                        </div>
                                        <% } else if(tattooer.tattoos.length < 4){%>
                                            <div class="loading-tats-div">
                                                <img class="loading-img" src="/images/HomePage/loadingTattoosCutted.jpg"
                                                    alt="">
                                                <div class="loading-text">
                                                    <h2 class="loading-h2">Tattoos are being Uploaded at the moment
                                                    </h2>
                                                </div>
                                                <i class="fa-solid fa-gear"></i>
                                            </div>
                                            <%}%>
                                </div>
                            </div>





                        </div>
                        </div>
                    </section>
                    <%}%>


                        <section class="thirdhp seczion">
                            <div class="right-side">
                                <img class="mobile-categ-img" src="/images/HomePage/categorydesigntappetino(Mobile).png"
                                    alt="">
                                <img class="tablet-categ-img" src="/images/HomePage/categorydesigntappetino(Tablet).png"
                                    alt="">
                                <img class="desktop-categ-img"
                                    src="/images/HomePage/categorydesigntappetino(Desktop).png" alt="">
                            </div>
                            <div class="left-side">
                                <div class="titles-div">
                                    <h2 class="categ-title">Manga Categories</h2>
                                    <h4 class="categ-subtitle">Explore the Infinite Universe of our Categories
                                        Selection!
                                    </h4>
                                </div>
                                <div class="categ-parags">
                                    <p class="central-parag">Search for your <b>Favourite Category</b> and check out the
                                        <b>Best
                                            Ranked
                                            Mangas</b> in it.
                                    </p>
                                    <p class="central-parag">You don't know what to read? Choose a Category e just use
                                        the <b>Random
                                            Button</b>!
                                    </p>
                                    <p class="central-parag">Leave us your <b>Review</b> or a <b>Comment </b>under each
                                        Article. Do
                                        You
                                        agree with the
                                        scores? <b>Let us know!</b></p>
                                </div>
                                <div class="categ-btn-div">
                                    <a href="/categories" class="categ-btn">Browse Categories</a>
                                </div>

                            </div>

                        </section>

                        <%if(!panel){%>
                            <h1>UPLOAD AT LEAST ONE PANEL</h1>
                            <%} else {%>
                                <section class="sixthhp seczion">

                                    <div class="weekly-panel-section">
                                        <div class="left-weekly-panel">
                                            <div class="weekly-panel-intro">
                                                <h1 class="weekly-panel-title">Manga Panel of the Week</h1>
                                                <p class="weekly-panel-parag">In order to create a great manga, you
                                                    need a <b class="highlighted-weekly-panel">well written
                                                        story</b>,
                                                    <b class="highlighted-weekly-panel">interesting characters</b>
                                                    and last
                                                    but not least, some <b class="highlighted-weekly-panel">amazing
                                                        Artwork</b>
                                                    . Every week
                                                    we'll post a Manga Panel choosen for its
                                                    Complexity and Aesthetic Impact. Don't forget to <b
                                                        class="highlighted-weekly-panel">Upvote</b>
                                                    or <b class="highlighted-weekly-panel">Downvote</b> it to let us
                                                    know what
                                                    you
                                                    think of <b class="highlighted-weekly-panel">our Weekly
                                                        Pick</b>!
                                                </p>
                                                <%if(currentUser && currentUser.username===process.env.POWER ){%>
                                                    <form class="delete-panel-form" method="POST"
                                                        action="/api/panels/<%=panel._id%>?_method=DELETE">
                                                        <button type="submit"><i
                                                                class="fa-solid fa-delete-left"></i>Delete
                                                            Panel</button>
                                                    </form>
                                                    <% }%>
                                            </div>
                                            <div class="weekly-block-container long-version">
                                                <h2 class="panel-from">Panel from:</h2>
                                                <div class="panel-block">
                                                    <div class="panel-shine"></div>
                                                    <div class="panel-volume-div">
                                                        <img class="panel-manga-cover-img"
                                                            src="<%=panel.fromManga.MangaVol.url %>"" alt="">
                            </div>
                            <div class=" panel-text-block">
                                                        <div class="panel-upper-text">
                                                            <a class="panel-manga-title orange-font long-version-title"
                                                                href="/index/<%=panel.fromManga.mangaId%>">
                                                                <%= panel.fromManga.mangaTitle %>
                                                            </a>
                                                            <h3 class="panel-score">
                                                                <%= panel.fromManga.mangaScore %><i
                                                                        class="fa-sharp fa-solid fa-star"></i>
                                                            </h3>
                                                        </div>
                                                        <div class="panel-under-text">
                                                            <h4 class="panel-infos">
                                                                <%= panel.fromManga.LongMangaVols %>
                                                            </h4>
                                                            <h4 class="panel-infos">
                                                                <%= panel.fromManga.release %>
                                                                    -
                                                                    <%= panel.fromManga.status %>
                                                            </h4>
                                                            <div class="panel-categ-tags orange-bg">
                                                                <div class="categ-div">
                                                                    <img src="<%= panel.fromManga.categoryTags.categTag1 %>"
                                                                        alt="">
                                                                </div>
                                                                <div class="categ-div">
                                                                    <img src="<%= panel.fromManga.categoryTags.categTag2 %>"
                                                                        alt="">
                                                                </div>
                                                                <div class="categ-div">
                                                                    <img src="<%= panel.fromManga.categoryTags.categTag3 %>"
                                                                        alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-weekly-panel">
                                            <div class="panel-id">
                                                <%=panel._id%>
                                            </div>
                                            <%if(currentUser){%>
                                                <div class="currentUser-div">
                                                    <%=currentUser._id%>
                                                </div>
                                                <%}%>

                                                    <img class="weekly-panel-img" src="<%= panel.panelSrc.url%>" alt="">
                                                    <h2 class="weekly-vote-title">Vote</h2>
                                                    <div class="weekly-scores">

                                                        <form class="upvote-div"
                                                            action="/api/panels/<%=panel._id%>/upvote" method="POST">
                                                            <button class="upvote-btn" type="submit">
                                                                <div class="arrow-bg">
                                                                    <img class="up-arrow"
                                                                        src="/images/HomePage/up-arrow-orange.png"
                                                                        alt="">
                                                                </div>
                                                                <div class="up-turnoff"></div>
                                                            </button>
                                                            <h4 class="upvote-nr">
                                                                66
                                                            </h4>

                                                        </form>
                                                        <h4 class="vs">VS</h4>
                                                        <form class="downvote-div"
                                                            action="/api/panels/<%=panel._id%>/downvote" method="POST">
                                                            <button class="downvote-btn" type="submit">
                                                                <img class="down-arrow"
                                                                    src="/images/HomePage/down-arrow-orange.png" alt="">
                                                                <div class="down-turnoff"></div>
                                                            </button>
                                                            <h4 class="downvote-nr">
                                                                22
                                                            </h4>

                                                        </form>
                                                    </div>

                                                    <div class="weekly-block-container short-version">
                                                        <h2 class="panel-from">Panel from:</h2>
                                                        <div class="panel-block">
                                                            <div class="panel-shine"></div>
                                                            <div class="panel-volume-div">
                                                                <img class="panel-manga-cover-img"
                                                                    src="<%=panel.fromManga.MangaVol.url %>" alt="">
                                                            </div>
                                                            <div class="panel-text-block">
                                                                <div class="panel-upper-text">
                                                                    <a class="panel-manga-title orange-font short-version-title"
                                                                        href="/index/<%=panel.fromManga.mangaId%>">
                                                                        <%= panel.fromManga.mangaTitle %>
                                                                    </a>
                                                                    <h3 class="panel-score">
                                                                        <%= panel.fromManga.mangaScore %><i
                                                                                class="fa-sharp fa-solid fa-star"></i>
                                                                    </h3>
                                                                </div>
                                                                <div class="panel-under-text">
                                                                    <h4 class="panel-infos">
                                                                        <%= panel.fromManga.LongMangaVols %>
                                                                    </h4>
                                                                    <h4 class="panel-infos">
                                                                        <%= panel.fromManga.release %>
                                                                            -
                                                                            <%= panel.fromManga.status %>
                                                                    </h4>
                                                                    <div class="panel-categ-tags orange-bg">
                                                                        <div class="categ-div">
                                                                            <img src="<%= panel.fromManga.categoryTags.categTag1 %>"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="categ-div">
                                                                            <img src="<%= panel.fromManga.categoryTags.categTag2 %>"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="categ-div">
                                                                            <img src="<%= panel.fromManga.categoryTags.categTag3 %>"
                                                                                alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>


                                </section>
                                <%}%>




                                    <script src="/js/carousel.js"></script>
                                    <script src="/js/homepage.js"></script>