<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/TattoersListResponsive.css">

    <title>DPRSSD OTAKU - Manga Tattooers Dojo</title>



    <section class="tattooers-list">

        <div class="ninety-div">
            <div class="title-intro-div">
                <div class="title-div">
                    <h1 class="list-title">Manga Tattoo Artists Dojo</h1>
                    <p>Here you will find all the Artist we interviewed and
                        their relative Artworks to vote for.</p>

                </div>


                <p class="list-intro">Welcome to our <b>Manga Tattoo Artist Dojo</b>! In case you missed any interview
                    from
                    the
                    Tattoo Artist of the Month, we got you covered! Here you will find all the Artist we interviewed and
                    their relative Artworks to vote for. </p>
                <img class="design-img" src="/images/TattooersList/tempiocorto (1).jpg" alt="">
            </div>

            <div class="design-div">
                <img class="design-img2" src="/images/TattooersList/tempiocorto (1).jpg" alt="">
            </div>

            <div class="actual-list">

                <div class="list-blocks">

                    <% for(let tattooer of tattooers){%>
                        <div class="list-block">
                            <div class="tattooer-img-div">
                                <img class="tattooer-img" src="<%=tattooer.profileImg.mobileImg.url %>" alt="">
                            </div>

                            <div class="text-block">
                                <h3 class="tattooer-name">
                                    <%= tattooer.name %>
                                </h3>

                                <h4 class="tattooer-studio"><i class="fa-solid fa-house-user"></i>
                                    <%= tattooer.studio %>
                                </h4>
                                <h4 class="tattooer-city"><i class="fa-solid fa-map-pin"></i>
                                    <%=tattooer.location%>
                                </h4>

                                <h4 class="tattooer-exp"><i class="fa-sharp fa-solid fa-trophy"></i>
                                    <%= tattooer.month%>
                                </h4>
                                <a class="read-btn" href="/tattooersList/<%=tattooer._id%>">Read Interview</a>
                            </div>
                        </div>
                        <%}%>


                </div>
            </div>
        </div>


    </section>