<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/TattoerPageResponsive.css">
    <title>DPRSSD OTAKU - <%=tattooer.name%>
    </title>



    <section class="fourthhp seczion">

        <div class="tattooer-div">


            <div class="profile-socials">
                <div class="tattooer-img-div">
                    <img class="tattooer-img" src="<%=tattooer.profileImg.mobileImg.url%>" alt="">
                    <div class="tattooer-infos-div">
                        <h3 class="tattooer-name">
                            <%=tattooer.name%>
                        </h3>
                        <h3 class="tattooer-studio">
                            <%=tattooer.studio%>
                        </h3>
                        <h3 class="tattooer-location">
                            <%=tattooer.location%>
                        </h3>
                        <h3 class="tattooer-exp">

                        </h3>
                    </div>
                </div>
                <div class="tattoo-socials">
                    <a class="tiktok-link" href="<%=tattooer.socials.tiktok%>"><i class="fa-brands fa-tiktok"></i></a>
                    <a class="insta-link" href="<%=tattooer.socials.insta%>"> <i class="fa-brands fa-instagram"></i></a>
                    <a class="fb-link" href="<%=tattooer.socials.fb%>"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>






            <div class="left-part">

                <div class="bilboard-div">
                    <h1 class="tattoer-title">Manga Tattoo Artist of the Month</h1>
                    <span class="white-line"></span>
                    <p class="tattooer-intro">Here at DPRSSD OTAKU. we are also huge fan of Manga Tattoos so every
                        month
                        we will present you a Tattoo Artist from around the World with a
                        short interview.
                    </p>
                </div>

                <div class="tattooer-list">
                    <h1 class="tattooer-list-title">Manga Tattoers List</h1>

                    <p class="tattooer-list-intro">You can also check out the Profiles and Interviews of all the
                        previous Manga Tattooers that were selected as Manga Tattoo Artist of the Month.
                    </p>
                </div>

                <div class="list-btn-div">
                    <a class="list-btn" href="/tattooersList">Tattooers List</a>
                </div>

            </div>




            <div class="fav-bio-div">
                <div class="favs-div">
                    <div class="favorite-manga">
                        <span class="useless">
                            <img src="<%=tattooer.favs.favManga.mangaImg.url%>" alt="">
                        </span>

                        <div class="fav-text-block">
                            <h5><i class="fa-solid fa-heart fa-beat"></i> Favorite Manga <i
                                    class="fa-solid fa-heart fa-beat"></i>
                                </h4>
                                <h4>
                                    <%=tattooer.favs.favManga.mangaTitle%>
                                </h4>
                        </div>
                    </div>
                    <div class="favorite-anime">
                        <span class="useless">
                            <img src="<%=tattooer.favs.favAnime.animeImg.url%>" alt="">
                        </span>

                        <div class="fav-text-block">
                            <h5><i class="fa-solid fa-heart fa-beat"></i> Favorite Anime <i
                                    class="fa-solid fa-heart"></i>
                                </h4>
                                <h4>
                                    <%=tattooer.favs.favAnime.animeTitle%>
                                </h4>
                        </div>
                    </div>
                </div>
                <div class="social-descrip-div">
                    <p class="tattooer-description">
                        <%= tattooer.descrip%>
                    </p>
                </div>
            </div>





        </div>


    </section>

    <section class="tattooer-interview">
        <div class="col-ninety-div">
            <div class="interview-div">
                <h2 class="interview-title">
                    <%=tattooer.interview.interviewTitle%>
                </h2>
                <h4 class="interview-subtitle">
                    <%=tattooer.interview.interviewSubtitle%>
                </h4>
                <div class="actual-interview">
                    <div class="q-a">
                        <h4>
                            <%=tattooer.interview.question1%>
                        </h4>
                        <p>
                            <%=tattooer.interview.answer1%>
                        </p>
                    </div>
                    <div class="q-a">
                        <h4>
                            <%=tattooer.interview.question2%>
                        </h4>
                        <p>
                            <%=tattooer.interview.answer2%>
                        </p>
                    </div>
                    <div class="q-a">
                        <h4>
                            <%=tattooer.interview.question3%>
                        </h4>
                        <p>
                            <%=tattooer.interview.answer3%>
                        </p>
                    </div>
                    <div class="q-a">
                        <h4>
                            <%=tattooer.interview.question4%>
                        </h4>
                        <p>
                            <%=tattooer.interview.answer4%>
                        </p>
                    </div>
                    <div class="q-a">
                        <h4>
                            <%=tattooer.interview.question5%>
                        </h4>
                        <p>
                            <%=tattooer.interview.answer5%>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-gallery-div">
                <div class="gallery-div">
                    <h4 class="gallery-title">Manga Tattoo Survey</h4>
                    <span class="tattooer-id-span">
                        <%=tattooer._id%>
                    </span>
                    <p class="gallery-intro">Check out some of Bubisan Tattoos and let us and her know which one is
                        your
                        favorite!</p>
                    <%if(currentUser && currentUser.username===process.env.POWER ){%>
                        <div class="admin-stuff">
                            <form method="POST" action="/api/tattooers/<%=tattooer._id%>?_method=DELETE">
                                <button type="submit"><i class="fa-solid fa-delete-left"></i>Delete Tattooer</button>
                            </form>
                            <a href="/addTattoos/<%=tattooer._id%>">Add Tattoo<i
                                    class="fa-solid fa-square-plus"></i></a>
                        </div>
                        <% }%>
                            <div class="images-blocks">
                                <%for(let tattoo of tattooer.tattoos){%>
                                    <div class="img-block-container">
                                        <form class="img-block" method="POST">
                                            <span class="tattoo-id">
                                                <%=tattoo._id%>
                                            </span>
                                            <img src="<%=tattoo.imgSrc.url%>" alt="">
                                            <h5>
                                                <%=tattoo.title%>
                                            </h5>
                                            <div class="score-btn">
                                                <div class="heart-nr-div">
                                                    <i class="fa-solid fa-heart"></i>
                                                    <h4 class="tattoo-likes"></h4>
                                                </div>
                                                <!-- <div class="loader"></div> -->
                                            </div>
                                        </form>
                                    </div>

                                    <%}%>





                            </div>
                            <div class="delete-container">
                                <%for(let tattoo of tattooer.tattoos){%>
                                    <%if(currentUser && currentUser.username===process.env.POWER ){%>
                                        <div class="admin-stuff">
                                            <form method="POST"
                                                action="/api/tattooers/<%=tattooer._id%>/tattoos/<%=tattoo._id%>?_method=DELETE">
                                                <button type="submit"><i class="fa-solid fa-delete-left"></i></button>
                                            </form>
                                        </div>
                                        <% }%>
                                            <%}%>
                            </div>
                </div>

            </div>
        </div>
    </section>

    </section>

    <section class="comments-section">
        <div class="ninety-comments-div">
            <div class="comments-title-div">
                <h2 class="comments-title">Comments</h2>
                <h2 class="comments-count">

                </h2>

            </div>

            <%if(currentUser){%>
                <div class="user-div">
                    <%=currentUser%>
                </div>
                <div class="user_id-div">
                    <%=currentUser._id%>
                </div>
                <form class="comments-form" action="api/tattooers/<%=tattooer._id%>/comments" method="POST">
                    <textarea name="body" id="comment-textarea" cols="30" rows="5"
                        placeholder="Comment and Rate the Artist" required></textarea>
                    <div class="submit-btn-box">
                        <div class="range-input-div">
                            <input name="rating" id="range-input" type="range" min="1.0" max="10.0" value="1"
                                oninput="rangevalue.value=value">
                            <div class="output-div">
                                <output id="rangevalue">1 </output>
                                <i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                        </div>
                        <button class="submit-comment-btn" type="submit">Post</button>
                    </div>
                </form>
                <%} else {%>
                    <h3 class="comment-links">
                        <a class="comment-link" href="/login">Login</a>
                        or
                        <a class="comment-link" href="/register">Sign Up</a>
                        to leave a Comment.
                    </h3>
                    <%}%>





                        <div class="comments-container">




                            <!--  <div class="comment-block">
                <div class="user-time-div">
                    <h3 class="comment-user">

                    </h3>
                    <h4 class="time-stamp">rated this Manga <i class="fa-sharp fa-solid fa-star"></i></h4>
                </div>
                <div class="actual-comment-div">
                    <p class="actual-comment">

                    </p>
                </div>
                <form class="delete-div" method="POST">

                    <button class="comment-delete-btn"><i class="fa-solid fa-trash"></i></button>



                </form>
            </div> -->


                        </div>




        </div>
    </section>

    <script src="/js/tattooerPage.js"></script>